:root {
  --basic-text-color: #212121;
  --paragraph-text-color: #757575;
  --hallway-text-color: #ffffff;
  --basic-background-color: #ffffff;
  --hallway-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --selected-color: #2196f3;
  --adress-contact-color: rgba(255, 255, 255, 0.6);
  --fill-color: #afb1b8;
  --btn-hover: #188ce8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", raleway, sans-serif;
  background-color: var(--basic-background-color);
  color: var(--basic-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .button {
    font-family: roboto;
    color: var(--hallway-text-color);
    background-color: var(--selected-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.5px;
    outline: none;
    border-style: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    margin-top: 30px;
  }
  .button:hover, .button:focus {
    background-color: var(--btn-hover);
  }
  .button_subscribe {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 27px;
  }
  .button_subscribe::after {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url(../images/icon-send.svg);
  }
  .button_modal {
    margin-top: 30px;
    padding: 10px 55px;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: roboto;
  color: var(--hallway-text-color);
  background-color: var(--selected-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.5px;
  outline: none;
  border-style: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.button:hover, .button:focus {
  background-color: var(--btn-hover);
}

.button_subscribe {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 27px;
}

.button_subscribe::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
}

.button_modal {
  margin-top: 30px;
  padding: 10px 55px;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button_portfolio {
  background-color: var(--team-background-color);
  color: var(--basic-text-color);
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 6px 22px;
}

.button_portfolio:hover, .button_portfolio:focus {
  background-color: var(--selected-color);
  color: var(--hallway-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal__button {
  position: absolute;
  top: 7px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__button:hover,
.modal__button:focus {
  fill: var(--selected-color);
}

.portfolio__button-item {
  margin-right: 9px;
}

.portfolio__button-item:last-child {
  margin-right: 0px;
}

.portfolio__button-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .nav {
    display: flex;
  }
  .nav .nav__list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--basic-text-color);
    text-decoration: none;
  }
  .logo_header {
    padding: 16px 0px 16px 0px;
  }
  .logo-span {
    color: var(--selected-color);
  }
  .logo_footer {
    color: var(--hallway-text-color);
    display: inline-block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .description {
    padding: 30px 30px;
    border: 0px solid;
    border-radius: 4px;
  }
  .description__heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    vertical-align: top;
    letter-spacing: 3%;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  .description__paragraph {
    color: var(--paragraph-text-color);
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    vertical-align: top;
    letter-spacing: 0.03em;
  }
  .portfolio__description {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
  }
  .portfolio__heading_description {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
  }
  .portfolio__paragraph_description {
    color: var(--paragraph-text-color);
    font-size: 16px;
    line-height: 1.875;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.5px;
  }
}

.description {
  padding: 30px 30px;
  border: 0px solid;
  border-radius: 4px;
}

.description__heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  vertical-align: top;
  letter-spacing: 3%;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.description__paragraph {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.5px;
}

.portfolio__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio__heading_description {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.5px;
  margin-bottom: 4px;
}

.portfolio__paragraph_description {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.875;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 767px) {
  .social {
    /* ul */
    /* a */
    /* a hover focus */
  }
  .social__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6px;
    margin-left: -10px;
    align-content: center;
    justify-content: center;
  }
  .social__link {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-basis: calc((100% - 40px) / 4);
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }
  .social__link:hover, .social__link:focus {
    background-color: var(--selected-color);
    color: var(--hallway-text-color);
  }
  .social__link_footer {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-basis: calc 15%;
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--hallway-text-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }
}

.social {
  /* ul */
  /* a */
  /* a hover focus */
}

.social__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 6px;
  margin-left: -10px;
  align-content: center;
}

.social__link {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-basis: calc((100% - 40px) / 4);
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.social__link:hover, .social__link:focus {
  background-color: var(--selected-color);
  color: var(--hallway-text-color);
}

.social__link_footer {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-basis: calc 15%;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--hallway-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

@media screen and (max-width: 767px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: #ffffff;
    width: 96vw;
    max-width: 450px;
    height: 96vh;
    max-height: 610px;
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__form-b {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 40px 40px 0px 40px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* B */
  /* FORM */
  /* LABEL */
  /* div */
  /* INPUT */
  /* TEXTAREA */
  /* DIV */
}

.modal__form-b {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 40px 40px 0px 40px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  min-width: 448px;
  min-height: 342px;
  padding: 0px 40px 40px 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 12px;
}

.modal__area {
  margin-bottom: 10px;
}

.modal__field {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--paragraph-text-color);
}

.modal__wrapper {
  position: relative;
  margin-top: 8px;
}

.modal__input {
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.modal__input:focus {
  outline: none;
  border-color: var(--selected-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__icon {
  fill: var(--selected-color);
}

.modal__message {
  margin-top: 4px;
  display: flex;
  max-width: 448px;
  max-height: 148px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__message::placeholder {
  display: inline-block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__message:focus {
  outline: none;
  border-color: var(--selected-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.modal__policy-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.modal__policy-label::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.modal__policy-label::before:focus {
  outline: none;
  border-color: var(--selected-color);
}

.modal__checkbox:checked + .modal__policy-label::before {
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
}

.modal__policy_link {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header {
    display: flex;
    border-bottom: 1px solid #ececec;
  }
  .header .header-contact {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/images/bg-image/bg-mobile/banner.jpg);
    background-size: cover;
    background-color: var(--hallway-background-color);
  }
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    max-height: 84px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

@media screen and (max-width: 767px) {
  .advantages__list {
    display: block;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
  }
  .advantages__list-item:not(:first-child) {
    max-width: 450px;
    margin-top: 30px;
  }
  .advantages__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    vertical-align: top;
    letter-spacing: 3%;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  .advantages__paragraph {
    color: var(--paragraph-text-color);
    font-size: 14px;
    line-height: 1.714;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.03em;
  }
  .advantages__icon {
    display: block;
    height: 120px;
    margin-bottom: 30px;
    content: "";
    background-repeat: no-repeat;
    background-color: #f5f4fa;
    background-position: center;
    background-size: 70px;
  }
  .advantages .antenna {
    background-image: url(../images/antenna.svg);
  }
  .advantages .clock {
    background-image: url(../images/clock.svg);
  }
  .advantages .diagram {
    background-image: url(../images/diagram.svg);
  }
  .advantages .astronaut {
    background-image: url(../images/astronaut.svg);
  }
}

@media screen and (max-width: 767px) {
  .do {
    display: none;
  }
}

.do {
  padding-top: 47px;
}

.do__heading {
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.6px;
  margin-bottom: 50px;
}

.do__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  list-style: none;
}

.do__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  position: relative;
}

.do__item > .do__paragraph {
  position: absolute;
  width: 370px;
  bottom: 0;
  padding: 27px 80px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--hallway-text-color);
}

@media screen and (max-width: 767px) {
  .command {
    background-color: var(--team-background-color);
  }
  .command__main-heading {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    vertical-align: top;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  .command__list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding: 0;
  }
  .command__item {
    display: flex;
    flex-direction: column;
    background-color: var(--basic-background-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .command__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .client {
    margin-left: auto;
    margin-right: auto;
  }
  .client__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30px;
    margin-left: -30px;
    align-content: center;
  }
  .client__item {
    width: 170px;
    height: 90px;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 180px) / 6);
    display: flex;
  }
  .client__link {
    padding: 16px 32px;
    border: 1px solid var(--fill-color);
    border-radius: 4px;
    color: var(--fill-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }
  .client__link:hover, .client__link:focus {
    border: 1px solid var(--selected-color);
    color: var(--selected-color);
  }
}

.client {
  margin-left: auto;
  margin-right: auto;
}

.client__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
  align-content: center;
}

.client__item {
  width: 170px;
  height: 90px;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 180px) / 6);
  display: flex;
}

.client__link {
  padding: 16px 32px;
  border: 1px solid var(--fill-color);
  border-radius: 4px;
  color: var(--fill-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.client__link:hover, .client__link:focus {
  border: 1px solid var(--selected-color);
  color: var(--selected-color);
}

@media screen and (max-width: 767px) {
  .footer {
    background-color: var(--hallway-background-color);
    padding: 60px 0px;
    /* ul */
    /*div footer form */
  }
  .footer__main-div {
    display: flex;
    flex-direction: column;
  }
  .footer__contact {
    align-content: center;
    text-align: center;
    margin-bottom: 60px;
  }
  .footer__paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    color: var(--hallway-text-color);
    margin-bottom: 20px;
  }
  .footer__social-div {
    margin-bottom: 60px;
  }
  .footer-social-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 6px;
    margin-left: -10px;
    align-content: center;
  }
  .footer__paragraph_b {
    display: block;
  }
  .footer__subscribe-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__email {
    max-width: 358px;
    height: 50px;
    padding: 15px 16px;
    background-color: var(--hallway-background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    cursor: pointer;
    color: var(--hallway-text-color);
  }
  .footer__email:focus {
    border: 1px solid rgba(255, 255, 255, 0.6);
    outline: none;
  }
  .adress .address__pointer {
    color: var(--hallway-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    text-align: center;
  }
  .adress .address__contact {
    display: block;
    text-decoration: none;
    color: var(--adress-contact-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    text-align: left;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    text-align: center;
  }
  .adress .address__contact:hover,
  .adress .address__contact:focus {
    color: rgba(250, 250, 250, 0.3);
    text-shadow: 0px 0px 1.2px #ffffff;
  }
}
/*# sourceMappingURL=main.css.map */