.command {
  background-color: var(--team-background-color);
  &__main-heading {
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    vertical-align: top;
    letter-spacing: 0.6px;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
  }
  &__item {
    background-color: var(--basic-background-color);
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
