:root {
  --basic-text-color: #212121;
  --paragraph-text-color: #757575;
  --hallway-text-color: #ffffff;
  --basic-background-color: #ffffff;
  --hallway-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --selected-color: #2196f3;
  --adress-contact-color: rgba(255, 255, 255, 0.6);
  --fill-color: #afb1b8;
  --btn-hover: #188ce8;
}
